html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('willoh.jpg'); 
    background-size: cover;
    color: #333; /* Adjust text color for readability */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

