@font-face {
    font-family: "pixel1";
    src: url("pixel1.ttf");
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'pixel1', sans-serif;
    text-shadow: -0.05rem 0.05rem gray;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
  }
  
  .navigation nav ul {
    list-style: none;
    text-align: right;
  }

  .navigation nav ul li {
    display: inline;
    padding: 1.5rem;
  }
  
  .navigation nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .name {
    font-size: 6rem;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    text-shadow: -0.25rem 0.3rem gray;
  }

  .socials {
    display: flex;
    flex-direction: column;
  }


  /* Flexbox for sections */
  .section {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  #gameCanvas {
    position: absolute;
    bottom: 0;
  }