@font-face {
    font-family: "pixel";
    src: url("../fonts/pixel.ttf"), format('trueType');
}

body {
    background-color: lightskyblue;
    text-align: center;
    font-family: "pixel";
    font-size: 1rem;
}

#thing {
    font-size: 3rem
}

.navigation nav ul {
  list-style: none;
  text-align: right;
}

.navigation nav ul li {
  display: inline-block;
  width: 8rem;
  height: 3rem;
  text-align: center;
  padding: 0.5rem 1rem;
}
  
.navigation nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

.navigation nav ul li a:hover {
  transform: scale(1.15); /* Enlarges text on hover */
  transform-origin: center; /* Ensures scaling happens from the center */
}

#home {
  background-color: royalblue;
  padding: 0.5rem;
  border: 0.2rem solid black;
  border-radius: 0.4rem;
  color: white;
}

#canvas1 {
  border: 0.25rem dotted black;
}

p {
  margin-bottom: 2rem;
 }

 /* Base styling for mobile control buttons */
#mobile-controls button {
  background-color: #770000; 
  color: white; 
  border: none; 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
}

#phone-controls button {
  background-color: #007700; 
  color: white; 
  border: none; 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
}

/* Position the mobile controls div */
#mobile-controls, #phone-controls {
  position: fixed; 
  left: 50%; 
  bottom: 10px; 
  transform: translateX(-50%); 
  display: none;
  cursor: pointer;
}

