@font-face {
    font-family: "pixel";
    src: url("../fonts/pixel.ttf"), format('trueType');
}

body {
    background-color: lightskyblue;
    text-align: center;
    font-family: "pixel";
    font-size: 1rem;
}

.navigation nav ul {
  list-style: none;
  text-align: right;
}

.navigation nav ul li {
  display: inline-block;
  width: 8rem;
  height: 3rem;
  text-align: center;
  padding: 0.5rem 1rem;
}
  
.navigation nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}
