@font-face {
    font-family: "pixel";
    src: url("../fonts/pixel.ttf"), format("trueType");
}

body {
    background-color: lightskyblue;
    font-family: "pixel", sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
  }
    
  .navigation nav ul {
    list-style: none;
    text-align: right;
  }
  
  .navigation nav ul li {
    display: inline-block;
    width: 8rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem 1rem;
  }
    
  .navigation nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;
  }
  
  .navigation nav ul li a:hover {
    transform: scale(1.15); /* Enlarges text on hover */
    transform-origin: center; /* Ensures scaling happens from the center */
  }

  h1 {
    font-size: 3rem;
    text-shadow: -0.25rem 0.3rem grey;
    text-align: center;
    margin-left: 4rem;
  }

#chatspace {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 70vh;
}

#messages {
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

#messages li {
    width: 90%;
    word-wrap: break-word;
    white-space: normal;
    padding: 5px;
    margin: 10px auto;
    background-color: red; /* message bubbles */
    color: #fff; /* White text */
    border-radius: 10px;

}

#form {
    display: flex;
    padding: 10px;
    background: #fff; /* White form background */
    border-top: 1px solid #ddd; /* Light gray border */
}

#input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

#form button {
    font-family: "pixel";
    padding: 10px;
    background-color: red; /*send button */
    color: #fff; /* White text */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  #home {
    background-color: royalblue;
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    color: white;
  }
  
  #about {
    background-color: red;
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    color: white;
  }
  
  #projects {
    background-color: gold;
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    color: white;
  }
  
  #skills {
    background-color: lime;
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    color: white;
  }
  
  #paint {
    background-color: orange;
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    color: white;
  }
  
  footer {
      font-size: 0.75rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  