@font-face {
    font-family: "elegant";
    src: url("../fonts/type.ttf");
}

/* Base Styles */
body, html {
    margin: 0 2rem;
    padding: 0;
    font-family: 'elegant', serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

/* Typography and Selection Styles */
::selection {
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
}

#typing-effect {
    font-family: 'elegant', monospace;
    white-space: pre;
    font-size: 3rem;
    text-align: left;
}

#typing-effect::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.no-blink::after {
    animation: none;
    opacity: 0;
    content: none;
}

#isc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  footer a, footer a:visited {
    text-decoration: none;
    color: red;
  }
