@font-face {
  font-family: "pixel1";
  src: url("../fonts/tektur.ttf");
}

::selection {
  color: red;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'pixel1', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../pictures/img.jpg');
    background-size: cover;
    color: black; /* All text in black */
}

.content {
    text-align: center; /* Centering content horizontally */
}

main, footer {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

h1, h2, h3 {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 30px;
    color: black;
}

nav {
    background-color: white; /* Sets the background color */
    padding: 10px; /* Adds some space inside the nav bar */
}

nav ul {
    list-style: none; /* Removes bullet points from the list */
    margin: 0;
    padding: 0;
    display: flex; /* Aligns list items horizontally */
}

nav ul li {
    margin-right: 20px; /* Space between each list item */
}

nav ul li a {
    text-decoration: none; /* Removes the underline from links */
    color: blue; /* Sets the text color */
    font-weight: bold;
}

nav ul li a:hover {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

