@font-face {
  font-family: "pixel1";
  src: url("../fonts/tektur.ttf");
}

::selection {
  color: red;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

section {
  padding: 1rem;
  margin: 1rem 0;
  background: #f4f4f4;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'pixel1', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../pictures/img.jpg');
    background-size: cover;
    line-height: 1.6;
    color: black; /* All text in black */
}

.simulation-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}


footer {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1, h2, h3 {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 30px;
    color: black;
}

nav {
    background-color: white; /* Sets the background color */
    padding: 10px; /* Adds some space inside the nav bar */
}

nav ul {
    list-style: none; /* Removes bullet points from the list */
    margin: 0;
    padding: 0;
    display: flex; /* Aligns list items horizontally */
}

nav ul li {
    margin-right: 20px; /* Space between each list item */
}

nav ul li a {
    text-decoration: none; /* Removes the underline from links */
    color: blue; /* Sets the text color */
    font-weight: bold;
}

nav ul li a:hover {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

