@font-face {
  font-family: "pixel1";
  src: url("../fonts/tektur.ttf");
}

::selection {
  color: rgb(74,144,226);
  background-color: rgb(74,144,226, 0.2);
}

html, body {
   margin: 0;
  padding: 0;
  font-family: 'pixel1', sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../pictures/img.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: black;
  min-height: 100vh; 
}

nav {
  background-color: white;
  padding: 0.625rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

nav ul li {
  margin-bottom: 0.33rem;
  margin-right: 1.25rem;
}

nav ul li a {
  text-decoration: none;
  color: #4A90E2;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #4A90E2;
  color: white;
  padding: 0.4rem;
  border-radius: 0.15rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.4); 
  z-index: 1;
}

.dropdown-content li {
  padding: 0.33rem 0.625rem; 
}

.dropdown-content li a {
  color: #4A90E2; 
  padding: 0.625rem 1.25rem; 
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #4A90E2; 
  color: white;
}

header {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

h1, h2 {
  margin: 0;
  color: #000;
}

section {
  padding: 1rem;
  margin: 1rem 0;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

.simulation-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #4A90E2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(74,144,226, 00.6); /* Adjust the first three values to change the color */
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  margin-top: 1rem;
  position: bottom;
}

.footer-text {
  margin: 0;
  font-size: 0.8em;
}

#policy {
  text-decoration: underline;
  color: white;
}
