@font-face {
    font-family: "pixel";
    src: url("../../fonts/pixel.ttf") format('truetype');
}

body {
  background-color: lightskyblue;
  font-family: "pixel";
  font-size: 1rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-shadow: -0.25rem 0.3rem grey;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation nav ul li {
  display: inline-block;
  width: 8rem;
  height: 3rem;
  text-align: center;
  padding: 0.5rem 1rem;
}
  
.navigation nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  border: 0.2rem solid black;
  border-radius: 0.4rem;
  color: white;
}

.navigation nav ul li a:hover {
  transform: scale(1.15); 
  transform-origin: center; 
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 1;
  text-align: center; 
}

.dropdown-content li {
  margin: 0; 
  padding: 0.5rem 0; 
}

#dropdownMenu {
  display: none;
}

#home { background-color: royalblue; }
#about { background-color: red; }
.dropdwn { background-color: gold; }
#projhome { background-color: royalblue; }
#game1 { background-color: hotpink; }
#game2 { background-color: fuchsia; }
#game3 { background-color: yellowgreen; }
#paint { background-color: orange; }
#contacts { background-color: lime; }

#canvas1 {
  display: block;
  margin: 1rem auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, red, green, red, green, red, green) 1 round;
}

p {
  text-align: center;
  margin: 1rem 6rem;
}

.hues {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-message {
  padding: 0.5rem;
  margin-left: 5rem;
  margin-right: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  flex-grow: 0.5;
}

.submit-button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 4px;
  background-color: crimson;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: red;
}

