@font-face {
    font-family: "pixel";
    src: url("../../fonts/pixel.ttf"), format('trueType');
}

body {
  background-color: lightskyblue;
  font-family: "pixel";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0; 
}

h1 {
  font-size: 3rem;
  text-shadow: -0.05rem 0.05rem gray;
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation nav ul li {
  display: inline-block;
  width: 8rem;
  height: 3rem;
  text-align: center;
  padding: 0.5rem 1rem;
}
  
.navigation nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  border: 0.2rem solid black;
  border-radius: 0.4rem;
  color: white;
}

.navigation nav ul li a:hover {
  transform: scale(1.15); 
  transform-origin: center; 
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 1;
  text-align: center; 
}

.dropdown-content li {
  margin: 0; 
  padding: 0.5rem 0; 
}

#dropdownMenu {
  display: none;
}

#home { background-color: royalblue;}
#about { background-color: red;}
.dropdwn { background-color: gold;}
#projhome { background-color: royalblue;}
#game1 { background-color: hotpink}
#paint { background-color: orange;}
#contacts { background-color: lime;}




p {
  text-align: center;
  margin: 1rem 6rem;
}

.hues {
  display: flex;
  flex-direction: row;
}
