@font-face {
  font-family: "pixel1";
  src: url("fonts/tektur.ttf");
}

::selection {
  color: white;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'pixel1', sans-serif;
  /* text-shadow: -0.05rem 0.05rem white; */
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-end;
}

.navigation nav ul {
  list-style: none;
  text-align: right;
}

.navigation nav ul li {
  display: inline-block;
  width: 8rem;
  height: 3rem;
  text-align: center;
  padding: 0.5rem 1rem;
}

.navigation nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

.navigation nav ul li a:hover {
  transform: scale(1.15); /* Enlarges text on hover */
  transform-origin: center; /* Ensures scaling happens from the center */
}

.contentgrid {
  display: flex;
  flex-direction: row;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name {
  font-size: 5rem;
  margin-left: 4rem;
  /*text-shadow: -0.25rem 0.3rem white; */
  margin-bottom: 0;
}

.information {
  font-size: 1.5rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

.socials {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

#contentgrid {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: start; /* Align items to the start of the container */
}

#introduction {
    /* Ensure the introduction section does not stretch to fill all available space */
    flex-shrink: 0;
}

#canvas1 {
    margin-left: 20px; /* Add some space between the text and the canvas */
}
