@font-face {
  font-family: "pixel1";
  src: url("../../fonts/tektur.ttf");
}

::selection {
  color: red;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'pixel1', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../pictures/img.jpg');
    background-size: cover;
    display: inline-block;
    color: black; /* All text in black */
}

.content {
    text-align: center; /* Centering content horizontally */
}

main, footer {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

h1, h2, h3 {
    color: black;
}

p {
  margin: 2rem;
  font-size: 1.5em;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8))
}

a {
    color: black;
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 30rem;
    color: black;
}

.word-art-container {
    text-align: center; /* This will center the .word-art div */
    margin-top: 20px; /* Adjust as needed for spacing */
}

.word-art {
    display: inline-block;
    font-family: 'pixel1', monospace;
    font-size: 2em;
    font-weight: bold; /* Make the text bolder */
    color: white; /* High contrast color */
    text-shadow: 3px 3px 6px rgba(0,0,0,0.9); /* Stronger text shadow for depth */
    padding: 10px 20px;
    margin: 0;
    background-image: linear-gradient(to bottom, #cccccc, #333333); /* Grey gradient background */
    border: 3px solid black; /* Thicker black border */
    border-radius: 5px;
    
    /* Additional stylistic choices for a techy feel */
    letter-spacing: 1px;
    word-spacing: 2px;
    
    /* CSS Transform for a slight perspective */
    transform: perspective(500px) rotateX(10deg);
    
    /* Transition for a hover effect */
    transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.canvasBox {
  display: flex; /* This will arrange child elements (canvases) in a row */
  justify-content: center; /* This will center the canvases horizontally */
  align-items: center; /* This will center the canvases vertically */
  margin: 20px auto;
  flex-wrap: wrap; /* This allows items to wrap to next line if not enough space */
}


#canvas1 {
    display: block; /* Ensures the canvas is a block-level element */
    margin: 20px; /* Adds margin to the top and bottom, centers horizontally */
    border: 3px solid #000; /* Optional: adds a border for visibility */
    /* Set the width and height if not set inline in the HTML */
}
#canvas2 {
    display: block; /* Ensures the canvas is a block-level element */
    margin: 20px; /* Adds margin to the top and bottom, centers horizontally */
    border: 3px solid #000; /* Optional: adds a border for visibility */
    /* Set the width and height if not set inline in the HTML */
}

#canvas3 {
    display: block; /* Ensures the canvas is a block-level element */
    margin: 20px; /* Adds margin to the top and bottom, centers horizontally */
    border: 3px solid #000; /* Optional: adds a border for visibility */
    /* Set the width and height if not set inline in the HTML */
}

nav {
    background-color: white;
    padding: 10px; /* Adds some space inside the nav bar */
}

nav ul {
    list-style: none; /* Removes bullet points from the list */
    margin: 0;
    padding: 0;
    display: flex; /* Aligns list items horizontally */
}

nav ul li {
    margin-right: 20px; /* Space between each list item */
}

nav ul li a {
    text-decoration: none; /* Removes the underline from links */
    color: #4A90E2; /* Sets the text color */
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #4A90E2;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* Change as per your color scheme */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); /* For dropdown shadow */
    z-index: 1;
}

.dropdown-content li {
    padding: 5px 10px; /* Adjust top/bottom and left/right padding as needed */
}

.dropdown-content li a {
    color: #4A90E2; /* Text color */
    padding: 10px 20px; /* Adjust top/bottom and left/right padding as needed */
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #4A90E2; /* Change for hover effect */
    color: white;
}

.simulation-explanation {
  max-width: 60rem; /* Responsive width */
  margin: 0 auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0,0,0,0.1);
  font-family: 'pixel1', sans-serif;
  color: black;
}

.simulation-explanation h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.simulation-explanation p {
  font-size: 1rem; /* Adjusted for relative sizing */
  line-height: 1.5; /* Good for readability */
  margin: 0 0 2rem; /* Bottom margin for spacing paragraphs */
  background: none; /* Removing the gradient background for simplicity */
}

.simulation-explanation ul {
  list-style-type: square; /* Styled list for better visuals */
  padding-left: 2rem; /* To align with the text */
}

.simulation-explanation li {
  margin-bottom: 0.3125rem; /* Consistent with your style */
  line-height: 1.5; /* Good for readability */
  font-size: 1rem;
}

@media screen and (max-width: 48em) { /* Responsive design breakpoint */
  .simulation-explanation {
    padding: 1rem;
  }

  .simulation-explanation h2 {
    font-size: 1.25rem; /* Slightly smaller font size for mobile */
  }

  .simulation-explanation p, .simulation-explanation li {
    font-size: 0.875rem; /* Smaller font size for readability on mobile */
  }
}



